.git
.github
**/.env
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/*.pyc
build
client
dist
docs/*
!docs/API.yaml
frontend/dist
frontend/node_modules
server/build
server/scripts
server/src/openctopus_server/assets/web
server/tests
tests
